{{form_start(form)}}
    <div class="form-group">
        {{form_row(form.code)}}
    </div>
    <div class="form-group">
        {{form_row(form.label)}}
    </div>
    <div class="form-group">
        {{form_row(form.tva)}}
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" name="edit" value="Editer">
    </div>
{{form_end(form)}}